<div class="container">
    <div class="content">
        <h1 style="color: #4169e1;">Merci de bien choisir votre accès en fonction de votre profil.</h1>
        <div class="card1 student">
            <h2>vous êtes étudiant</h2>
            <p>Bienvenue sur le portail des élèves de l'auto-école. Ce site centralise toutes les informations importantes pour votre formation : accès aux outils pédagogiques, planning des cours, actualités de l'auto-école et bien plus encore. Vous y trouverez toutes les ressources nécessaires pour suivre votre apprentissage et vous préparer sereinement à l'examen.</p>
            <a routerLink="/mon-espace-connexion">je me connecte</a>
        </div>
        <div class="card2 admin">
            <h2>vous êtes admin</h2>
            <p>Bienvenue sur le portail des administrateurs de l'auto-école. Ce site centralise toutes les informations et outils essentiels pour la gestion de l'établissement : accès aux données des élèves, gestion des plannings, actualités internes et bien d'autres ressources pour faciliter votre travail au quotidien. Vous y trouverez tout ce dont vous avez besoin pour assurer le bon fonctionnement de l'auto-école.</p>
            <a routerLink="/mon-espace-connexion-admin">je me connecte</a>
        </div>
    </div>
</div>
