<header>
    <div class="container">
      <div class="logo">
        <!-- Remplacer src par le bon chemin de ton logo -->
        <img src="assets/logo.png" alt="easy 2 drive" />
        <span>easy 2 drive</span>
      </div>
      <nav id="navbarsupportedContent">
        <li class="nav-item">
        <a class="nav-link button" routerLink="/faq" >FAQ</a>
        </li>
        <li class="nav-item">
        <a class="nav-link button" routerLink="/contact" >nous contacter</a>
        </li>
        <li class="nav-item">
        <a class="nav-link button" routerLink="/mon-espace-selection" >mon espace</a>
        </li>
      </nav>
    </div>
  </header>
