<header>
    <div class="container">
      <div class="logo">
        <!-- Remplacer src par le bon chemin de ton logo -->
        <img src="assets/logo.png" alt="easy 2 drive" />
        <span>easy 2 drive</span>
      </div>
      <nav id="navbarsupportedContent">
        <a class="nav-link button" href="faq" >FAQ</a>

        <a class="nav-link button" href="contact" >nous contacter</a>

        <a class="nav-link button" href="mon-espace-selection" >mon espace</a>

      </nav>
    </div>
  </header>
