<header>
  <div class="container">
    <div class="logo">
    </div>

    <!-- Icône burger visible seulement en mobile -->
    <div class="burger" (click)="toggleMenu()">&#9776;</div>

    <!-- Navigation intégrée à la même ligne -->
    <nav [class.open]="menuOuvert">
      <a routerLink="/accueil" routerLinkActive="active" (click)="fermerMenu()">Accueil</a>
      <a routerLink="/faq" routerLinkActive="active" (click)="fermerMenu()">Avis</a>
      <a routerLink="/contact" routerLinkActive="active" (click)="fermerMenu()">Contact</a>
      <a routerLink="/mon-espace" routerLinkActive="active" (click)="fermerMenu()">Mon espace</a>
    </nav>
  </div>
</header>
