/* You can add global styles to this file, and also import other style files */
body {
    background-color: #d2691e;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    
}


main {
    min-height: calc(100vh); /* Ajuste en fonction de la hauteur de ton header + footer */
    padding: 20px;
    box-sizing: border-box;
}


:root {
    --header-height: 90px; /* Tu peux changer la taille ici facilement */
  }
  

  /* Animation fade + slide légère */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Décalage léger */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Classe globale pour appliquer cette animation */
.page-content {
    animation: fadeInUp 0.6s ease-out;
    animation-fill-mode: both; /* Pour garder l'état final */
}
