<div class="container">
    <h2 class="title">Connexion</h2>

    <div class="input-group">
        <label for="email">Adresse email</label>
        <input [(ngModel)]="email" type="email" id="email" placeholder="exemple@email.com">
    </div>

    <div class="input-group">
        <label for="password">Mot de passe</label>
        <input [(ngModel)]="password" type="password" id="password" placeholder="••••••••">
    </div>

    <button (click)="onSubmit()" class="btn">Se connecter</button>
</div>
