body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: #2B6CB0;
    height: 100vh;
    padding: 20px;
    color: white;
}

.logo img {
    width: 100%;
}

.header {
    display: none;
}

.dashboard-btn {
    width: 100%;
    background-color: #E76F51;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #F8F9FA;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.table-container {
    background: #D3D3D3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: left;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.modal.show {
    display: flex !important; 
}

.modal {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1E50A2;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    position: relative;
}

.modal2 { 
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    background: #1E50A2;
    padding: 25px;
    border-radius: 10px;
    width: 65%;
    max-width: 800px; 
    max-height: 85vh;
    overflow-y: auto;
    color: white;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ajoute une ombre */
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#validateButton {
    background-color: #28a745;
}


