<footer>
    <div class="content">
        <p>&copy; 2023 EasyToDrive. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="assets/facebook-icon.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="assets/twitter-icon.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/instagram-icon.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>