footer {
    background-color: #336CB4;
    color: #fefefe;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Changed from fixed to relative */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 5px;
    display: inline-block;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
}