<div class="page-wrapper">
    <div class="login-container">
      <h2>Connexion Administrateur</h2>
      <form (ngSubmit)="loginAdmin()" #adminForm="ngForm">
        <div class="input-group">
          <label for="email">Email :</label>
          <input id="email" type="email" [(ngModel)]="email" name="email" required>
        </div>
      
        <div class="input-group">
          <label for="MDP">Mot de passe :</label>
          <input id="MDP" type="password" [(ngModel)]="MDP" name="MDP" required>
        </div>
      
        <button type="submit" [disabled]="adminForm.invalid" class="btn">Se connecter</button>
      </form>      
  
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
</div>